
@media screen and (max-width: 1044px) {

    .paralaxe03 {
        justify-content: center;
    }

    .caixa__central--botao {
        padding-left: 0px;
    }

    .caixa__texto {
        margin-left: 300px;
        padding: 50px;
    }

    .swiper {
       width: 80%;
    }
    
    .swiper-slide > img {
       margin: 0px;
       width: 200px;
       height: 200px;
    }

    .contato {
        width: 760px;
    }

    .entrar {
        margin-left: 80px;
    }
}

@media screen and (max-width: 760px) {

    .caixa__texto {
        margin-left: 200px;
        padding: 30px;
    }

    .coluna__esquerda {
        margin-right: 0px;
    }

    .coluna__direita--botao {
        margin-left: 0px;
        padding: 20px;
    }

    .caixa__principal > article {
        margin: 0px;
    }

    .swiper-slide > img {
        margin: 0px;
        width: 160px;
        height: 160px;
     }

     .contato {
        width: 510px;
    }

    .entrar {
        margin-left: 0px;
        width: 100px;
        height: 38px;
        font-size: 18px;
    }
}

@media screen and (max-width: 679px) {

    .caixa__principal > article {
        min-height: 290px;
        max-width: 340px;
        margin: .6px;
        padding: 1dvh;
    }
}

@media screen and (max-width: 510px) {

    .caixa__texto {
        margin-left: 75px;
        padding: 0px;
    }

    .contato {
        width: 300px;
    }

    form {
        width: 220px;
    }

    .coluna__texto {
        padding-left: 10px;
        max-width: 150px;
        font-size: 15px;
    }
}
