body, html {
    height: 100%;
}

.paralaxe01 {
    display: flex;
    align-content: center;
    background-image: url(imagens/bg-img-01.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa__texto--individual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    width: 100%;
    margin: auto;
}

.caixa__texto {
    max-width: 800px;
    margin-left: 400px;
    padding: 150px;
    flex-wrap: wrap;
}

h1 {
    font-size: 64px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: white;
}

.caixa__texto > p {
    font-size: 19px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: white;
}

.paralaxe02 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/bg-img-02.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa__central {
    display: flex;
    width: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.caixa__central h2 {
    padding-bottom: 30px;
    font-size: 32px;
}

.caixa__central p {
    font-size: 19px;
}

.coluna__esquerda {
    margin-left: auto;
    margin-right: 20px;
    padding: 40px;
    width: 340px;
    height: 420px;
    background-color: #ffffffc4;
}

.coluna__direita--botao {
    margin-right: auto;
    margin-left: 20px;
    padding: 40px;
    width: 340px;
    background-color: #ffffffc4;
}

.paralaxe03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/bg-img-03.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa__central--botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}

.caixa__titulo {
    margin-bottom: 8px;
    padding: 20px;
    width: 425px;
    height: 116px;
    font-size: 32px;
    background-color: #ffffffc4;
}

.caixa__paragrafo {
    padding: 20px;
    width: 425px;
    height: 211px;
    font-size: 19px;
    background-color: #ffffffc4;
}

.paralaxe04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/bg-img-04.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa__principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.caixa__principal > article {
    height: 375px;
    width: 340px;
    margin: 20px;
    padding: 40px;
    background-color: #ffffffc4;

}

.titulo__verde {
    padding-bottom: 10px;
    margin-bottom: 8px;
    font-size: 28px;
    color: green;
}

.ajuste__paragrafo {
    margin-bottom: 16px;
    font-size: 19px;
}

.paralaxe05 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/bg-img-05.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.carrossel {
    display: flex;
    width: 1050px;
    overflow: hidden;
}

#slide1:checked ~ .s1 {
   margin-left: 0; 
}

#slide2:checked ~ .s1 {
    margin-left: -25%;
}

#slide3:checked ~ .s1 {
    margin-left: -50%;
}

#slide4:checked ~ .s1 {
    margin-left: -75%;
}

#slide5:checked ~ .s1 {
    margin-left: -100%;
}

#slide6:checked ~ .s1 {
    margin-left: -125%;
}

input{
    display: none;
}

.slide {
    display: flex;
}

.slide > img {
    padding: 0px 10px;
}

.navegador__carrossel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radio {
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

.radio:hover {
    background-color: dodgerblue;
}

.paralaxe06 {
    background-image: url(imagens/bg-img-06.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}