@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body, html {
    height: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

.paralaxe01 {
    display: flex;
    align-content: center;
    background-image: url(imagens/bg-img-01.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa__texto--individual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    width: 100%;
    margin: auto;
}

.caixa__texto {
    max-width: 800px;
    margin-left: 500px;
    padding: 120px;
    flex-wrap: wrap;
}

h1 {
    padding-bottom: 28px;
    font-size: 3rem;
    text-shadow: 2px 2px 8px #000000;
    color: white;
}

.caixa__texto > p {
    margin-bottom: 20px;
    font-size: 19px;
    color: white;
    font-weight: 400;
}

.explorar {
    margin-top: 20px;
    width: 225px;
    height: 58px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: white;
    background-color: #C66666;
}

button {
    cursor: pointer;
}

.paralaxe02 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/bg-img-02.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa__central {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.caixa__central h2 {
    padding-bottom: 30px;
    font-size: 32px;
}

.caixa__central p {
    font-size: 19px;
}

.coluna__esquerda {
    
    margin-right: 20px;
    padding: 40px;
    width: 340px;
    height: 420px;
    background-color: #ffffffc4;
}

.coluna__direita--botao {
    
    margin-left: 20px;
    padding: 40px 40px 10px 40px;
    max-width: 340px;
    background-color: #ffffffc4;
}

.detalhes {
    margin-top: 20px;
    width: 260px;
    height: 58px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: white;
    background-color: #C66666;
}

.paralaxe03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/bg-img-03.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa__central--botao {
    display: flex;
    padding-left: 600px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.caixa__titulo {
    margin-bottom: 8px;
    padding: 20px;
    max-width: 425px;
    min-height: 116px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffffffc4;
}

.caixa__paragrafo {
    padding: 20px;
    max-width: 425px;
    min-height: 211px;
    font-size: 19px;
    background-color: #ffffffc4;
}

.informacoes {
    margin-top: 20px;
    width: 260px;
    height: 58px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: white;
    background-color: #C66666;
}

.paralaxe04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/bg-img-04.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa__principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.caixa__principal > article {
    min-height: 375px;
    max-width: 340px;
    margin: 20px;
    padding: 40px;
    background-color: #ffffffc4;

}

.titulo__verde {
    padding-bottom: 10px;
    margin-bottom: 8px;
    font-size: 28px;
    color: green;
}

.ajuste__paragrafo {
    margin-bottom: 16px;
    font-size: 19px;
}

.paralaxe05 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/bg-img-05.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper {
    width: 990px;
    height: 270px;
}

.swiper-slide > img {
    margin: 0px 10px;
}

.paralaxe06 {
    background-image: url(imagens/bg-img-06.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.contato {
    padding-left: 155px;
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.formulario__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    width: 340px;
    height: 356px;
}

#inome {
    margin-top: 20px;
    width: 310px;
    height: 30px;
    background-color: #ffffffc4;
    border: 1px solid #ced4da;
}

#iemail {
    margin-top: 20px;
    width: 310px;
    height: 30px;
    background-color: #ffffffc4;
    border: 1px solid #ced4da;
}

#imensagem {
    margin-top: 20px;
    width: 310px;
    height: 140px;
    background-color: #ffffffc4;
    border: 1px solid #ced4da;
}

.coluna__texto {
    width: 670px;
    height: 272px;
    color: white;
}

.entrar {
    margin-top: 20px;
    margin-left: 150px;
    width: 160px;
    height: 58px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    color: white;
    background-color: #C66666;
}

.endereco {
    padding: 30px 0px;
}

footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: white;
    margin-left: auto;
}
